DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_NAME=smart_learning


ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7



SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
GMAIL_USER=[Your Gmail]
GMAIL_PASSWORD=[APP Pasword]



## For celery 
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

## OpenAI APi key
OPEN_AI_API_KEY='ADD your openai key'
